body{
    background-color: green;
}

.game-area{
    background-color: green;

}

.controls-area{
    background-color: green;

}

.display-area{
    background-color: green;

}

.question-area{
    background-color: green;

}

.score-area{
    background-color: green;

}